*{
  font-family: cursive;
  box-sizing: border-box;
  margin: 0;
}

body{
  transition: background-color 0.5s ease;

}

.dark-mode {
  background-color: #303030;
  color: rgb(221, 215, 215);
  transition: background-color 0.5s ease;

}

